/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  color: #068799;
}

h3 {
  font-weight: bold;
  margin: 1.25em 0 .5em 0;
  color: #068799;
}

p {
  max-width: 600px;
  margin: 0 0 .25em 1em;
  font-size: .9rem;
}

form {
  margin: 1rem 0;
  padding: 15px;
  background-color: #7ded80;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: #69dbf4;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.sub-section {
  margin-left: .5rem
}

.bold {
  margin: .5em 0;
  font-size: 1rem;
  font-weight: bold;
  color: #068799;
}

.short-code, .output-container {
  background: #eff7f9;
}

.form-description {
  margin: 0 0 .5em 0;
}

.output-container {
  font-size: .9rem;
}